<template>
  <header class="site-header">
    <h1 class="site-logo">
      <a href="/">
        <svg class="logo-tate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 210"><defs><title>スノーサンド</title></defs><path d="M18.34,40c.69-.92.4-1.38.37-1.43l-2.27-1.92L14.9,39.12,11.73,43.6a8.8,8.8,0,0,0-.86,1.56L8.54,49s-2.49,4.14-3,4.72c-.25.32-.34.56-.28.74a.27.27,0,0,0,.19.18l1.7.69,3-4a27.17,27.17,0,0,0,3.95-5.73Z" /><path d="M12.74,90.73c.07-.64.3-2.69.35-3.7,0,0,.08-4.33.32-6.85l.51-6.39-3.58-.35-.16,1.62,0,3.34.42.34s0,5.93-.1,11.77Z" /><path d="M7.45,121.69c0,.68.07,1.23.11,1.67l2.85.14c-.07-.56-.14-1.12-.21-1.73a7.29,7.29,0,0,1-.07-1.78l.07-1.56a8.33,8.33,0,0,0,1.44-.32l2.67-.41-.05.39h0a47.23,47.23,0,0,1-1.93,7.13A25.56,25.56,0,0,0,10.57,132l0,.1.39.27a1.12,1.12,0,0,0,1.08.56,1.85,1.85,0,0,0,.5-.06l.09,0,3.61-11.17,0-1.38,1-3c1.48-.22,4.1-.59,4.66-.59.8,0,.63-.34.63-.34L22,114.44l-3.9.13.45-1.4.64-3.6-3.15-1-1.25,6a23.93,23.93,0,0,0-4.42.5l.15-3.31-3.63-.17a26.89,26.89,0,0,0,.28,3.09,3.16,3.16,0,0,1,.11.6l-4.48.18c-1.09,0-1.22.57-1.22.57l0,3.16,2.75-.35,3-.21C7.35,119.56,7.39,120.63,7.45,121.69Z" /><path d="M17.15,195a23.35,23.35,0,0,0-2.14-.94,3.5,3.5,0,0,0-1.44-.35l-1.35-.32-.46-.11-.48-10.22-1.16.93-1.43.26,0,.21a33.11,33.11,0,0,1,.2,6.52l-.21,1.78.17,1.59-.24,3.89a57.54,57.54,0,0,0-.16,6.35l.59,4.11h3.64v-.83l-.43-3.5-.4-8.37a5,5,0,0,0,1.49.44c.59.14.68.28.68.28l2.71,1.91,2.17-3.12a4.68,4.68,0,0,0-1.27-.35A.7.7,0,0,1,17.15,195Z" /><path d="M18.85,185.38l-2.42-.21v.18a4.84,4.84,0,0,0,.17,1.12.81.81,0,0,1,0,.38s0,1,.09,2c0,.24,0,.43.06.58l0,.13,2,.17,0-.2a2.38,2.38,0,0,0,0-.26l-.06-.34a1.62,1.62,0,0,1,0-.53h0Z" /><path d="M20,185.54l-.18.53-.07.83.24.15c0,.32-.09,1.43-.22,2.49l0,.13,1.55.52.06-.14a7.55,7.55,0,0,0,.26-.8,10,10,0,0,1,.27-1.44l.42-1.48Z" /><path d="M7.7,155.2A9.08,9.08,0,0,1,9,156.28c.09.2.35,0,.35,0l1.5-1.1-.73-1.2a2.2,2.2,0,0,0-1.32-1.51s-.9-1.43-1.07-1.68-.61,0-.61,0l-2.62,1.61.62.53,1,1.23a1,1,0,0,0,.5.28Z" /><path d="M10.32,164.7s1.26-1.08,2.39-2.21a6.4,6.4,0,0,0,1.3-1.56l1.2-1.43.71-.86,3.76-3.72v-.32a.08.08,0,0,0,0-.07v-.17l-.09,0-.24-.22a.48.48,0,0,0-.22-.12l-.5-.28-.05,0a50.2,50.2,0,0,0-4.35,3.37l-1.67,1.16a5.76,5.76,0,0,0-1.25,1.27q-.17.23-.36.45a2.66,2.66,0,0,1-.68.66l-3.93,2.73,2.22,3.2.09-.08a8.29,8.29,0,0,0,1.2-1.38A1.2,1.2,0,0,1,10.32,164.7Z" /><path d="M19,14.83a1.93,1.93,0,0,1-.78-.56s-1.56-1.4-3.2-2.67c-.38-.3-.69-.53-1-.72l0-.08,1-1.08.76-1.38a27.85,27.85,0,0,1,3.56-4.6l.08-.08V1.31H16.42a12.9,12.9,0,0,0-3.14.54A3.75,3.75,0,0,1,11.89,2L5.45,2l0,4.21a13.14,13.14,0,0,0,2.4-.48,2.1,2.1,0,0,1,1-.18s2.25-.17,4.45-.48a12,12,0,0,0,2.61-.56L6.45,16.26,4.22,18.64,6.56,21l2.55-2.62a44.72,44.72,0,0,0,3.17-4.63l.14-.23.38.24a3.56,3.56,0,0,1,1,.83l4.11,4.36,3-2.79A12.87,12.87,0,0,0,19,14.83Z" /></svg>
      </a>
    </h1>
    <div class="site-social">
      <ul class="list flex">
        <li>
          <Twitter />
        </li>
        <li>
          <Instagram />
        </li>
      </ul>
    </div>

    <div class="site-navi-button">
      <div class="site-navi-button-body js-hov">
        <div class="pagenavi-toggle slot-chars">
          <div class="pagenavi-toggle-text">
            <div class="toggle-text off">
              <div class="slot slot-t1 charwrap">メニュー</div><div class="slot slot-t2 charwrap">メニュー</div>
            </div>
            <div class="toggle-text on">
              <div class="slot slot-t1 charwrap">クローズ</div><div class="slot slot-t2 charwrap">クローズ</div>
            </div>
          </div>
        </div>
        <a href="/" class="page-return">
          <div class="page-return-text">
            <div class="toggle-text">
              <span class="button-i"><svg class="icon-return" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path d="M27.47,29.93H8.77V27.88h18.7a5.32,5.32,0,0,0,0-10.64H8.77v-2h18.7a7.37,7.37,0,0,1,0,14.73Z" /><path d="M12.94,22.77,6.31,16.22l6.63-6.55,1.39,1.47L9.19,16.22l5.14,5.08Z" /></svg></span>
              <div class="button-t slot-chars">
                <div class="slot slot-t1 charwrap">ホームに戻る</div><div class="slot slot-t2 charwrap">ホームに戻る</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="underline">
        <div class="u-border"></div>
        <div class="u-wave">
          <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><pattern id="pattern-b" x="0" y="0" width="80" height="80" patternUnits="userSpaceOnUse" patternTransform="matrix(0.1 0 0 -1 -10 -10)"><path fill="none" class="wave" d="M 0 40 Q 20 37.5 40 40 Q 60 42.5 80 40" /></pattern><rect x="0" y="0" width="100%" height="100%" fill="url(#pattern-b)" /></svg>
        </div>
      </div>
    </div>
  </header>
</template>


<script>
import Instagram from '~/components/Icon-Instagram.vue';
import Twitter from '~/components/Icon-Twitter.vue';

export default {
  components: {
    Instagram,
    Twitter,
  },
};
</script>

