<template>
  <div class="content-block">
    <div>
      <div class="js-inview">
        <h4 class="s-section-title store-area">
          <span class="rise-txt-p">
            <span class="icon">
              <svg class="icon-snow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><g class="snow"><rect x="18.5" y="5.5" width="3" height="29" /><rect x="18.5" y="5.5" width="3" height="29" transform="translate(27.32 -7.32) rotate(60)" /><rect x="18.5" y="5.5" width="3" height="29" transform="translate(47.32 12.68) rotate(120)" /></g></svg>
            </span><span class="t">東京</span>
          </span>
        </h4>
      </div>

      <div class="js-inview">
        <div class="rise-block">
          <div class="store-ac accordion circle-button">
            <input type="checkbox" class="ac-toggle" id="store1" checked />
            <div class="toggle-icon">
              <svg class="circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"><path d="M150,10A140,140,0,1,0,290,150,140,140,0,0,0,150,10" /></svg>
              <div class="txt icon">
                <div class="el1"></div><div class="el2"></div><div class="el3"></div>
              </div>
            </div>

            <div class="ac-header">
              <div class="store-name rise-txt">
                <label for="store1">西武池袋本店</label>
              </div>
              <div class="store-note flex">
                <span class="label">POPUPストア</span>
                <span class="term">期間：<span class="date">2021&#8202;.&#8202;3&#8202;.&#8202;3</span> (水) 〜 <span class="date">3&#8202;.&#8202;16</span> (火)</span>
              </div>
            </div>
            <div class="ac-body">
              <dl>
                <dt>会場</dt>
                <dd><p>光の時計口 イベントスペース</p></dd>
                <dt>住所</dt>
                <dd><p>東京都豊島区南池袋1丁目28−1</p></dd>
                <dt>営業時間</dt>
                <dd>
                  <p>10:00&#8202;−&#8202;19:30</p>
                  <span>※営業時間は西武池袋本店に準じます。西武池袋本店の営業時間は<a href="https://www.sogo-seibu.jp/ikebukuro/topics/page/rinjikyugyo2004.html" class="a-uline">こちら</a>よりご確認ください。</span>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>

      <div class="js-inview">
        <h4 class="s-section-title store-area">
          <span class="rise-txt-p">
            <span class="icon">
              <svg class="icon-snow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><g class="snow"><rect x="18.5" y="5.5" width="3" height="29" /><rect x="18.5" y="5.5" width="3" height="29" transform="translate(27.32 -7.32) rotate(60)" /><rect x="18.5" y="5.5" width="3" height="29" transform="translate(47.32 12.68) rotate(120)" /></g></svg>
            </span><span class="t">神奈川</span>
          </span>
        </h4>
      </div>

      <div class="js-inview">
        <div class="rise-block">
          <div class="store-ac accordion circle-button">
            <input type="checkbox" class="ac-toggle" id="store2" checked />
            <div class="toggle-icon">
              <svg class="circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"><path d="M150,10A140,140,0,1,0,290,150,140,140,0,0,0,150,10" /></svg>
              <div class="txt icon">
                <div class="el1"></div><div class="el2"></div><div class="el3"></div>
              </div>
            </div>

            <div class="ac-header">
              <div class="store-name rise-txt">
                <label for="store2">横浜高島屋</label>
              </div>
              <div class="store-note flex">
                <span class="label">POPUPストア</span>
                <span class="term">期間：<span class="date">2021&#8202;.&#8202;3&#8202;.&#8202;3</span> (水) 〜 <span class="date">3&#8202;.&#8202;14</span> (日)</span>
              </div>
            </div>
            <div class="ac-body">
              <dl>
                <dt>会場</dt>
                <dd><p>横浜店地下1階 イベントスクエア</p></dd>
                <dt>住所</dt>
                <dd><p>神奈川県横浜市西区南幸1丁目6−31</p></dd>
                <dt>営業時間</dt>
                <dd>
                  <p>10:00&#8202;−&#8202;20:00</p>
                  <span>※営業時間は横浜高島屋に準じます。横浜高島屋の営業時間は<a href="https://www.takashimaya.co.jp/yokohama/businesshours/" class="a-uline">こちら</a>よりご確認ください。</span>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>